<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="static/css/estilos.css"
	th:href="@{/css/estilos.css}">
<link rel="stylesheet" type="text/css" href="static/css/signin.css"
	th:href="@{/css/signin.css}">

<title>Ticketeria</title>
</head>
<body>

	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#"> <!-- 		<div class="div-logo"> -->
				<!-- 			<img class="d-inline-block align-top" width="90" --> <!-- 				src="static/img/logo-header.png" alt="Logo"> -->
				<!-- 		</div> -->
				<div class="div-brand">
					<span id="app-name">Ticketeria</span> <br>
				</div>
			</a>
			<button class="navbar-toggler " type="button" data-toggle="collapse"
				data-target="#navbar" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse text-center" id="navbar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link"
						href="/ticketeria/home">Início</a></li>
					<!-- <li class="nav-item"><a class="nav-link" href="#">Sobre</a></li> -->
					<!-- <li class="nav-item"><a class="nav-link" href="#">Projetos</a></li> -->
					<!-- <li class="nav-item"><a class="nav-link" href="#">Contato</a></li> -->
				</ul>

			</div>
		</nav>
	</header>

	<!-- <form class="text-center" action="#" th:action="@{/efetuaLogin}"
		th:object="${loginform}" method="post">

		<h3>Username</h3>
		<input type="text" th:field="*{username}" />

		<h3>Senha</h3>
		<input type="text" th:field="*{password}" /> <br> <br>

		<button type="submit" class="btn btn-primary">Entrar</button>
	</form> -->
	<div class="text-center">
		<form class="form-signin" th:action="@{/efetuaCadastro}"
			th:object="${signupform}" method="post">
			<h1 class="h3 mb-3 font-weight-normal">Cadastro</h1>
			<label for="inputEmail" class="sr-only">Cadastro</label> <input
				type="text" id="inputEmail" class="form-control"
				placeholder="Usuário" required autofocus th:field="*{username}">
			<label for="inputNme" class="sr-only"></label>
			<input type="text" id="inputName" class="form-control"
				placeholder="Nome" required th:field="*{name}">
			<label for="inputPassword" class="sr-only">Nome</label> <input
				type="password" id="inputPassword" class="form-control"
				placeholder="Senha" required th:field="*{password}">

			<button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>

		</form>
	</div>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>